# Core Django
Django==4.2.16
djangorestframework==3.14.0
django-cors-headers==4.3.1

# Production server
gunicorn==21.2.0
whitenoise==6.6.0

# Database
psycopg2-binary==2.9.10
dj-database-url==2.1.0



# Charts
pyecharts==2.0.8

# Supabase
supabase==2.16.0

# Environment
python-decouple==3.8

# HTTP requests
requests==2.32.3
